.dropdowns-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom: 2%;
}


.dropdown-container  {
 width: 100%;
 margin-top: 2%;
}

.image{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    width: 100%;
}

.image img {
    width: 80%;
    height: 223px;
    background: #000;
    mix-blend-mode: darken;
    border-radius: 25px;
    overflow: hidden;
    object-fit: cover;
}

.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer{
    top: 287px;
}
@media screen and (max-width: 748px)  {
    
}