.title-accomodation {
    color: #FF6060;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    width: 70%;
    margin: 0;
}

.location {
    color: #FF6060;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
}

.owner {
    display: flex;
    width: 100%;
    flex-direction: row;
   
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 75%;
}

.details {
    display: flex;
    margin-top: 1%;
    width: 98%;
    justify-content: center;
}

.portrait {
    width: 39%;
    height: 64px;
    border-radius: 50%;
    flex-shrink: 0;
    margin-left: 11%;
}

.owner-name {
    color: #FF6060;
    text-align: right;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
}

.owner-and-stars {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.stars {
    display: flex;
    .star {
      height: 30px;
      width: 30px;
      margin-right: 10px;
    }
  }
  
  @media screen and (max-width: 748px) {
    .stars {
      .star {
        height: 15px;
        width: 15px;
        margin-right: 5px;
      }
    }
  }

.tags-div {
    display: flex;
}

.dropdowns {
    display: flex;
    width: 80%;
    margin-top: 1%;
    justify-content: space-around;
    margin-bottom: 3%;
}

.dropdown-container{
    width: 100%;
}



@media screen and (max-width: 748px) {
    .details{
        flex-direction: column;
    }
    .portrait {
        width: 32px;
        height: 32px;


    }

    

    .owner-and-stars{
        flex-direction: row-reverse;
    }
    .stars img {
        width: 18px;
        height: 18px;
    }
    .stars {
        display: flex;
        align-items: center;
    }
    .title-accomodation{
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;

    }
    .owner{
        width: 34%;

        align-items: center;
    }
    .dropdowns {
        flex-direction: column;
        margin-bottom: 1%;
        
    }
    .dropdown-container{
        margin-bottom: 2%;
    }
    
}