.dropdown {
  background-color: #FF6060;
  border-radius: 5px;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 47px;
  z-index: 1;
  padding-left: 20px;
  padding-right: 20px;
}

.dropdowns .dropdown-container {
  display: flex;
  flex-direction: column;
  width: 48%;
}
  


.description {
  width: 100%;
  background-color: #F6F6F6;
  color: #FF6060;
  padding-top: 25px;
  padding-bottom: 25px;
}
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
  }
  
  .menu.open {
    height: auto;
  }
  
  .menu-toggle {
    display: block;
    padding: 10px 20px;
    background-color: #444;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }
  
  .menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .menu-items li {
    padding: 10px;
    border-bottom: 1px solid #555;
  }

  .description p{
    margin-top: -5px;
   
   
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 142.6%;
  }

  .description option {
    margin-top: -5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
   
    padding-left: 15px;
    padding-right: 15px;
   
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 142.6%;
  }

  @media screen and (max-width: 748px) {
    .dropdowns .dropdown-container{
      width: 80%;
    }

    .description p {
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: left;

    }

    .description option {
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: left;

    }
  }