footer {
    background-color: #000; 
    display: flex;
    width: 100%;
    padding-top: 66px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 28.556px;
  }
  
  /* Centrer le contenu dans le pied de page */
  footer img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Facultatif : Styler le texte du pied de page */
  footer p {
    display: flex;
    width: 513px;
    height: 46px;
    flex-direction: column;
    justify-content: flex-end;
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 142.6%; /* 34.224px */
  }