.logo {
    display:flex;
    justify-content: space-between;
    width: 1240px;
    height: 68px;
    top: 40px;
    left: 100px;

}

.header {
    display: flex;
    justify-content: center;
}

.menu_header{
    display: flex;
    justify-content: space-around;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: right;
    color: #FF6060;
    width: 30%;
}