.tag {
    border-radius: 10px;
background: #FF6060;

height: 25px;
padding-left: 10px;
padding-right: 10px;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 142.6%;
text-align: center;
color: white;
margin-right: 10px;
border-radius: 10px;
display: flex;
align-items: center;
}
