.thumbnail{
    width: 340px;
    height: 340px;
    flex-shrink: 0;
    border-radius: 10px;
}

.img-thumb{
    object-fit: cover;
    overflow: hidden;
}

.title{
    width: 300px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 25.668px */
    position: absolute;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    max-width: 90%;
}